.About main{
    width: 100vw;
}
.About main section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 20vh);
}
.About main section .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}
.About main section .content .buttons{
    display: flex;
    gap: 20px;
    width: fit-content;
}
.About main section .content .buttons button{
    height: 30px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.About main section .content .buttons button:hover{
    opacity: 0.5;
}
.About main section .content .buttons button:active{
    opacity: 1;
}
.About main section .content .buttons .btnConnect{
    background-color: #6895D2;
}
.About main section .content .buttons .btnLearn{
    background-color: #242424;
    border:1px solid #6895D2;
}
.About main .image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About main .image img{
    width: 60%;
}